.nav {
  background-color: rgba(0, 0, 0, 0.856);
  z-index: 9;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.856);
}
.nav_top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.logo {
  float: left;
  width: 50%;
}
.logo img {
  padding: 8px;
  width: 43%;
  margin-left: 10%;
}
.nav_side {
  /* float: left; */
  width: 140%;
  margin-top: 20px;
}
.nav_side a {
  text-decoration: none;
  /* margin-right: 1px; */
  margin-left: 9px;
  /* margin-top: 20px;
  padding-top: 20px; */
  padding-left: 15px;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  /* justify-content: center; */
  /* align-items: center;
  align-content: center;
  text-align: center; */
}
.nav_side a:hover {
  color: rgb(79, 255, 88);
  transition: all 1s ease;
}

.parallax {
  position: absolute;
  overflow: hidden;
  width: 100%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #8a8e91;
}

/*------------------------------------------------MAIN----------------------------------------*/
.main {
  background-image: url("images/back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.main .main_content {
  padding-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width: 40%;
}
.main .main_content h2 {
  color: white;
  font-size: 350%;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bolder;
  text-align: left;
}
.main .main_content h2 span {
  font-size: 50%;
  opacity: 0.9;
  font-weight: 400;
  line-height: 50px;
}
.main .main_content .btn {
  margin-top: 10%;
  text-align: left;
  width: 0%;
}
.main .main_content .btn a {
  text-decoration: none;
  font-size: large;
  margin: 44%;
  padding: 10px 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.856);
  transition: 0.5s;
}
.main .main_content .btn a:hover {
  background-color: rgba(255, 255, 255, 0.527);
  color: rgb(37, 0, 19);
  border: none;
  border: 4px solid rgb(37, 0, 19);
  transition: 0.5s;
}
/*------------------------------------------------SIDE----------------------------------------*/
.side {
  background-color: rgba(0, 0, 0, 0.966);
  display: flex;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
}
.side .left {
  width: 50%;
  float: left;
}
.side .left img {
  float: left;
  width: 100%;
}
.side .right {
  background-color: rgba(0, 0, 0, 0.966);
  width: 50%;
  float: right;
}
.side .right h2 {
  margin-top: 8%;
  font-size: 250%;
}
.side .right p {
  margin-left: 15%;
  width: 70%;
  font-size: 147%;
  margin-top: 6%;
}

.side_btn {
  text-align: center; /* Center the button */
  display: inline-block;
  margin-right: 10px; /* Optional: Add some space between buttons */
}

.side_btn a {
  text-decoration: none;
  font-size: large;
  display: inline-block; /* Display the button as a block element */
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  border: 4px double whitesmoke;
  transition: 0.5s;
}

.side .right .side_btn a:hover {
  background-color: rgb(79, 255, 88);
  color: black;
  font-weight: bolder;
  border: none;
  border: 4px solid green;
  transition: 0.5s;
}

/*--------------------------------------------HOW WE HELP----------------------------------------*/
.product {
  float: left;
  background-image: url("images/poor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50px;
  height: auto;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
}
.product h2 {
  font-size: 45px;
  text-align: center;
  padding: 20px;
}
.product .product_container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.product .product_container .item {
  width: 33%;
  margin: 10px;
  height: 10%;
  background-color: black;
  opacity: 80%;
  border-radius: 50%;
}
.product .product_container .item:hover {
  box-shadow: 0px 3px 65px 0px rgb(255, 189, 165);
}
.product .product_container .item .item_img {
  width: 60%;
  height: 20%;
  overflow: hidden;
  margin-left: 23%;
}
.product .product_container .item .item_img img {
  width: 100%;
  height: 10%;
}
.product .product_container .item .item_content {
  text-align: center;
}
.product .product_container .item .item_content h3 {
  font-size: 22px;
  line-height: 2px;
  color: rgb(79, 255, 88);
  font-weight: bolder;
}
.product .product_container .item .item_content p {
  font-size: 20px;
  line-height: 25px;
  width: 80%;
  text-align: center;
  padding-left: 20%;
}
/*--------------------------------------------FOOTER----------------------------------------*/
footer {
  background-color: black;
  padding: 50px;

  font-family: "Trebuchet MS", sans-serif;
}

/* display: inline-block; */
footer .aimg {
  margin-top: 21%;
}
footer .pages {
  width: 25%;
  text-align: center;
  display: inline-block;
}

footer .pages p {
  padding-top: 5%;
  text-align: left;
  color: rgba(255, 226, 243, 0.808);
  width: 90%;
  padding-left: 12%;
  margin-bottom: 25px;
}
footer .pages a {
  text-decoration: none;
  margin: 10px;
  color: rgba(255, 226, 243, 0.808);
  font-size: 30px;
}
footer .pages a:hover {
  color: white;
}
footer .doc {
  width: 25%;
  text-align: center;
  display: inline-block;
  padding-bottom: 5%;
}
footer .doc h3 {
  color: rgb(255, 226, 243);
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  line-height: 130px;
  margin-bottom: -56px;
  margin-top: -30px;
}
footer .doc a {
  display: block;
  text-decoration: none;
  margin: 10px;
  color: rgba(255, 226, 243, 0.808);
  font-size: 25px;
}
footer .doc a:hover {
  color: white;
}
footer .social {
  width: 25%;
  text-align: center;
  display: inline-block;
}
footer .social h3 {
  color: rgb(255, 226, 243);
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  line-height: 130px;
}
footer .contact {
  width: 20%;
  text-align: center;
  text-align: left;
}
footer .contact h3 {
  color: rgb(255, 226, 243);
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  line-height: 130px;
  margin-top: -30px;
  margin-bottom: -60px;
}

footer .social h3 {
  margin-top: -30px;
  margin-bottom: -60px;
}
footer .social p {
  padding-top: 5%;
  text-align: left;
  color: rgba(255, 226, 243, 0.808);
  width: 90%;
  padding-left: 12%;
  font-size: large;
  margin-bottom: 20px;
}
.side .right .side_btn {
  margin-top: 4%;
}
footer .side_btn a {
  text-decoration: none;
  font-size: 100%;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  border: 2px double whitesmoke;
  transition: 0.5s;
}
footer .side_btn a:hover {
  background-color: rgb(79, 255, 88);
  color: black;
  font-weight: bolder;
  border: none;
  border: 4px solid green;
  transition: 0.5s;
}
footer .contact {
  display: inline-block;
}
footer .contact a {
  display: block;
  font-size: 20px;
  line-height: 38px;
  text-decoration: none;
  color: rgba(247, 193, 224, 0.904);
  margin: 10px;
}
footer .contact a:hover {
  color: white;
}
footer p {
  color: rgba(247, 178, 217, 0.726);
  text-align: center;
  font-size: 110%;
}
/*------------------------------------------------MAIN_ABOUT----------------------------------------*/
.main_about {
  font-family: "Trebuchet MS", sans-serif;
  background-image: url("images/about.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  margin-top: -1.5%;
}
.main_about .main_content_about h2 {
  color: white;
  font-size: 390%;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bolder;
  text-align: center;
  padding: 20%;
}
.product_about {
  float: left;
  background-image: url("images/about_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50px;
  height: 110vh;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
}

/* .product .product_about.item {
    width: 33%;
    margin: 10px;
    height: 80%;
    background-color: black;
    opacity: 80%;
    border-radius: 50%;
  } */
/*--------------------------------------------DONATE----------------------------------------*/
.donate {
  font-family: "Trebuchet MS", sans-serif;
  background-image: url("images/donate_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin-top: -1.5%;
  color: white;
  text-align: center;
}
.donate .donate_container {
  background-color: black;
  opacity: 80%;
  text-align: center;
  margin: 0% 20% 0% 20%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.donate .donate_container h1 {
  color: rgb(79, 255, 88);
  line-height: 100px;
}
.donate .donate_container p {
  font-size: large;
  width: 80%;
  text-align: center;
  padding-left: 20%;
}
.donate .donate_container .second {
  padding-bottom: 10%;
}
.donate .side_btn a {
  text-decoration: none;
  font-size: 120%;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  border: 2px double whitesmoke;
  transition: 0.5s;
}
.donate .side_btn a:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  border: none;
  border: 4px solid green;
  transition: 0.5s;
}

/* ...........................................REPORT....................................... */
.donor {
  font-family: "Trebuchet MS", sans-serif;
  background-image: url("images/donate_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 106vh;
  margin-top: -1.5%;
  color: white;
  text-align: center;
}
.donor .donor_container {
  background-color: black;
  opacity: 80%;
  text-align: center;
  margin: 0% 20% 0% 20%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.donor .donor_container h1 {
  color: rgb(79, 255, 88);
  line-height: 100px;
}
.donor .donor_container p {
  font-size: large;
  width: 80%;
  text-align: center;
  padding-left: 20%;
}
.donor .donor_container .second {
  padding-bottom: 10%;
}

.donor .side_btn a {
  text-decoration: none;
  font-size: 120%;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  border: 2px double whitesmoke;
  transition: 0.5s;
}
.donor .side_btn a:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  border: none;
  border: 4px solid green;
  transition: 0.5s;
}
/*--------------------------------------------CONTACT---------------------------------------*/
.contact_container {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Trebuchet MS", sans-serif;
  background-image: url("images/about_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 180vh;
  margin-top: -1.5%;
  color: white;
}
.contact_container h2 {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 33px;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}
.contact_container .g_map {
  border: 10px solid white;
}
.contact_container .contact_content {
  padding: 20px;
  font-family: "Trebuchet MS", sans-serif;
}
.contact_container .contact_content p {
  padding: 15px;
  font-size: 20px;
  line-height: 25px;
}
/*--------------------------------------------CATERING---------------------------------------*/

@media (max-width: 768px) {
  /* Adjustments for screens up to 768px width */
  .nav {
    padding-left: 3%;
    padding-right: 3%;
  }

  .logo {
    width: 50%;
  }

  .logo img {
    width: 60%;
  }

  .nav_side {
    width: 45%;
  }

  /* Add more adjustments as needed */

  .main {
    height: 125vh; /* Adjust the height for smaller screens */
  }

  .main .main_content {
    display: flex; /* Add flexbox display */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 40%;
    height: 100%; /* Ensure full height */
  }

  .main .main_content h2 {
    color: white;
    font-size: 250%;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bolder;
    text-align: center; /* Center text horizontally */
  }

  .main .main_content h2 span {
    font-size: 50%;
    opacity: 0.9;
    font-weight: 400;
    line-height: 50px;
    padding-left: 5%;
    text-align: center;
  }

  .main .main_content .btn {
    margin-top: 10px; /* Add space between h2 and button */
  }

  .main .main_content .btn a {
    text-decoration: none;
    font-size: large;
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.856);
    transition: 0.5s;
  }

  .main .main_content .btn a:hover {
    background-color: rgba(255, 255, 255, 0.527);
    color: rgb(37, 0, 19);
    border: none;
    border: 4px solid rgb(37, 0, 19);
    transition: 0.5s;
  }
  .side {
    flex-direction: column; /* Change to horizontal layout on screens wider than 768px */
  }
  .side .left,
  .side .right {
    width: 100%; /* Each div takes half the width on larger screens */
  }

  .side .right h2 {
    font-size: 30px;
    margin-bottom: -13px;
  }
  .side_btn {
    margin-bottom: 10px;
  }

  .product .product_container .item {
    width: 90%;
    max-width: 300px; /* Limit max width for larger screens */
    margin: 10px;
    height: 10%;
    background-color: black;
    opacity: 80%;
    border-radius: 50%;
  }

  .product .product_container {
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: center; /* Center items horizontally */
  }

  footer .pages,
  footer .doc,
  footer .social,
  footer .contact {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; /* Increase margin between sections */
  }

  footer .pages a,
  footer .doc a {
    font-size: 20px;
  }

  footer .social h3,
  footer .contact h3 {
    font-size: 25px;
  }

  footer .social p {
    font-size: medium;
  }

  /* ..................ABOUT US.......................... */

  .main_about .main_content_about h2 {
    color: black;
    font-size: 350%;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 20%;
  }

  .product_about {
    height: 250vh;
  }

  /* ................DONATE ..................... */

  .donate {
    height: 150vh;
  }

  .donate .donate_container {
    width: 60%;
  }

  .donate .side_btn a {
    text-decoration: none;
    font-size: 120%;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    border: 2px double whitesmoke;
    transition: 0.5s;
  }

  /* .....................CONTACT US .................... */
  .contact_container h2 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 28px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
  }
  .contact_container {
    height: 185vh;
  }
  .contact_container .g_map {
    width: 100%; /* Adjust the width as needed */
  }

  .contact_container .g_map iframe {
    width: 100%;
  }

  /* ........................REPORT....................... */
  .donor {
    height: 205vh;
  }

  .donor .donor_container {
    width: 60%;
  }

  .donor .donor_container h1{
    font-size: 30px;
  }

  .donor .side_btn a {
    text-decoration: none;
    font-size: 110%;
  
    font-weight: bold;
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    border: 2px double whitesmoke;
    transition: 0.5s;
  }

  .donor .side_btn  {
    font-size: 120%;
    
    margin-left:  5px;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    border: 2px double whitesmoke;
    transition: 0.5s;
  }



}
